<span class="ng-equation">

    <span class="eq-toolbox-container">
        <label class="eq-toolbox-label">
            Toolbox
        </label>
        <expression-operand-toolbox
            operands="equation.options.availableOperands">
        </expression-operand-toolbox>
    </span>

    <span class="top-level-group">
        <expression-group
            operator="equation.topLevelGroup.operator"
            operands="equation.topLevelGroup.operands"
            on-ready="equation.topLevelGroup.onReady(groupApi)"
            available-operands="equation.options.availableOperands">
        </expression-group>
    </span>

</span>
