<span style="display: inline-block">
    <span class="eq-operand" style="display: inline-block"
        ng-class="operand.options.class">
        <span ng-if="operand.options.value">
            {{operand.options.getLabel(operand.options)}}
        </span>
        <span ng-if="!operand.options.value">
            {{operand.options.typeLabel}}
        </span>

        <button class="eq-remove-operand"
            ng-if="operand.group"
            ng-click="operand.removeFromGroup()">
            &times;
        </button>
    </span>
</span>
