<span style="display: inline-block">
    <span class="eq-operand btn-group"
          style="display: inline-block"
          ng-class="operand.options.class"
          uib-tooltip="{{ operand.options.getTooltipText(operand.options) }}"
          tooltip-append-to-body="true">

        <span class="btn">
            <i ng-class="operand.equationOptions.iconDragClass"></i>
            <span ng-if="operand.options.value">
                {{operand.options.getLabel(operand.options)}}
            </span>
            <span ng-if="!operand.options.value">
                {{operand.options.typeLabel}}
            </span>
        </span>

        <span class="btn eq-operand-click-to-add"
              ng-if="operand.defaultGroupApi"
              ng-click="operand.addToDefaultGroup()">
            <i ng-class="operand.equationOptions.iconAddClass"></i>
        </span>

        <button class="eq-edit-operand"
            ng-if="operand.options.value"
            ng-click="operand.editMetadata()">
            <i ng-class="operand.equationOptions.iconEditClass"></i>
        </button>

        <button class="eq-remove-operand"
            ng-if="operand.group"
            ng-click="operand.removeFromGroup()">
            <i ng-class="operand.equationOptions.iconRemoveClass"></i>
        </button>
    </span>
</span>
