<span class="eq-group">

    <span ng-repeat="operand in group.operands">
        <span ng-if="$first && group.operator === 'AND NOT'" class="eq-operator">
            NOT
        </span>

        <!-- subgroup -->
        <span ng-if="operand.operands">
            <expression-group
                operator="{{operand.operator}}"
                operands="operand.operands">
            </expression-group>
        </span>

        <!-- not subgroup -->
        <span ng-if="!operand.operands">
            <expression-operand
                operand-options="operand">
            </expression-operand>
        </span>

        <div class="btn-group" uib-dropdown ng-if="!$last">
            <button class="eq-operator btn" uib-dropdown-toggle>
                {{group.operator}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-class="{'active': group.operator === 'AND'}">
                    <a href ng-click="group.operator = 'AND'">
                        AND
                    </a>
                </li>
                <li ng-class="{'active': group.operator === 'OR'}">
                    <a href ng-click="group.operator = 'OR'">
                        OR
                    </a>
                </li>
                <li ng-class="{'active': group.operator === 'AND NOT'}">
                    <a href ng-click="group.operator = 'AND NOT'">
                        AND NOT
                    </a>
                </li>
            </ul>
        </div>
    </span>

    <button class="eq-new-operand">
        &#10133;
    </button>
</span>
